# Prepare Exercises

In [1]:
import os
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from env import host, user, password

import warnings
warnings.filterwarnings("ignore")
from acquire import get_store_data
from sklearn.model_selection import TimeSeriesSplit
from datetime import timedelta, datetime



### Using your store items data:

1. Convert date column to datetime format.
2. Plot the distribution of sale_amount and item_price.
3. Set the index to be the datetime variable.
4. Add a 'month' and 'day of week' column to your dataframe.
5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.
6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

#  ACQUIRE

In [2]:
# Call the function to get the DataFrame.
store_df = get_store_data()

In [3]:
store_df = pd.read_csv('tsa_store.csv')

In [10]:
store_df.head().T

,0,1,2,3,4
store_id,1,1,1,1,1
item_id,1,1,1,1,1
sale_id,1,2,3,4,5
sale_date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05
sale_amount,13,11,14,13,10
item_upc14,35200264013,35200264013,35200264013,35200264013,35200264013
item_upc12,35200264013,35200264013,35200264013,35200264013,35200264013
item_brand,Riceland,Riceland,Riceland,Riceland,Riceland
item_name,Riceland American Jazmine Rice,Riceland American Jazmine Rice,Riceland American Jazmine Rice,Riceland American Jazmine Rice,Riceland American Jazmine Rice
item_price,0.84,0.84,0.84,0.84,0.84
store_address,12125 Alamo Ranch Pkwy,12125 Alamo Ranch Pkwy,12125 Alamo Ranch Pkwy,12125 Alamo Ranch Pkwy,12125 Alamo Ranch Pkwy
store_zipcode,78253,78253,78253,78253,78253
store_city,San Antonio,San Antonio,San Antonio,San Antonio,San Antonio
store_state,TX,TX,TX,TX,TX

In [5]:
# number of rows and columns
store_df.shape

(10000, 14)

In [6]:
# number null values in each column
store_df.isnull().sum()

store_id         0
item_id          0
sale_id          0
sale_date        0
sale_amount      0
item_upc14       0
item_upc12       0
item_brand       0
item_name        0
item_price       0
store_address    0
store_zipcode    0
store_city       0
store_state      0
dtype: int64

In [7]:
# unique values of  store_id
store_df.store_id.unique()

array([1])

In [9]:
store_df.sale_date=store_df.sale_date.str.replace('00:00:00 GMT','')
store_df.sale_date=store_df.sale_date.str.strip()
store_df.sale_date=pd.to_datetime(store_df.sale_date,format='%a, %d %b %Y')

ValueError: time data '2013-01-01' does not match format '%a, %d %b %Y' (match)

In [ ]:
store_df.info()

In [ ]:
store_df.sale_amount.hist()

In [ ]:
store_df.item_price.hist()

In [ ]:
store_df=df.set_index('sale_date').sort_index()

In [ ]:
store_df.head(3)

In [ ]:
store_df['month'] = df.index.month_name()
store_df['day_of_week'] = df.index.day_name()

In [ ]:
store_df.head(3)

In [ ]:
store_df.sale_amount

In [ ]:
store_df.item_price